.reset-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.content {
  margin-top: 100px; 
  margin: 0px auto; 
  width: 40%;
}

@media screen and (max-width: 768px) {
  .content {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .content {
    width: 100%;
  }
}

.clock-section {
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.clock .time {
  width: 100%;
  min-height: 50px;
  text-align: center;
  font-size: 9em;
  color: rgb(52, 61, 63);
}

.clock .date {
  width: 100%;
  min-height: 50px;
  text-align: center;
  font-size: 2em;
  color: rgb(115, 140, 146);
}

.greeting-section {
  text-align: center;
  font-size: xx-large;
  color: rgb(95, 95, 95);
}

.focus-section {
  position: relative;
  min-height: 300px;
  padding: 10px;
  background: #f2f2f2;
  margin-top: 40px;
  border-radius: 10px;
  overflow: hidden;
}

.tabs {
  display: flex;
  gap: 2px;
  height: 40px;
  /* border-radius: 10px; */
}

.tab-link {
  min-width: 80px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  font-size: 1.1em; 
  background-color: #ffffff;
  color: rgb(115, 140, 146);
  cursor: pointer;
}

.tab-link .tab-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.tab-link:hover {
  background-color: #f1f0f0;
}

.tab-link.active {
  color: rgb(115, 140, 146);
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: 2px solid rgb(115, 140, 146);
}

.tab-content {
  width: 100%;
  padding: 10px 0px;
  border-top: 1.3px solid #b3b2b2;
  display: none;
}

.tab-content.active {
  display: block;
}

.todo-list {
  height: 300px;
  padding: 20px 0px;
  margin: 0;
  overflow-y: auto;
  list-style: none;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;  
  background-color: white;
  border-radius: 10px;
  font-size: 1.4em;
}

.todo-item-text {
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.todo-item-tags {
  /* text-align: center; */
  width: 30%;
  display: flex;
  align-items: center;
}

.priority {
  background-color: #f44336;
  padding: 2px 10px;
  border-radius: 5px;
  color: white;
}
.low {
  background-color: #4caf50;
}
.medium {
  background-color: #ff9800;
}
.high {
  background-color: #f44336;
}

.todo-item-actions {
  display: flex;
  visibility: hidden;
  align-items: center; 
  gap: 10px;
}

.todo-item:hover .todo-item-actions {
  visibility: visible;
}

.todo-item .delete-todo {
  color: rgb(240, 109, 109);
  cursor: pointer;
}

.todo-item .delete-todo:hover {
  color: rgb(255, 0, 0);
}

.todo-item .edit-todo {
  color: rgb(115, 140, 146);
  cursor: pointer;
  /* margin-top: 4px; */
}

.add-todo-form {
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.add-todo-priority {
  display: flex;
  padding: 5px;
  outline: none;
  border: none;
  background-color: transparent;
}

.add-todo-form input {
  /* background-color: transparent; */
  width: 100%;
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;  
  background-color: white;
  border-radius: 10px;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 1.5em;
}


.note-list {
  height: 300px;
  padding: 20px 0px;
  margin: 0;
  overflow-y: auto;
  list-style: none;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.note-item {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;  
  background-color: white;
  border-radius: 10px;
}

.note-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.2em;
}

.note-content {
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.2em;
}

.add-note {
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.add-note-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-note-form textarea {
  /* background-color: transparent; */
  width: 100%;
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;  
  background-color: white;
  border-radius: 10px;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 1.5em;
  resize: none;
  height: 100px;
}

.add-note-button {
  width: fit-content;
  padding: 10px 15px;
  color: white;
  background-color: #c4c5c4;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
