* {
  box-sizing: border-box;
}

body {
  background-color: rgba(128, 128, 128, 0.187);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 50px;
}

.hidden {
  visibility: hidden;
}
