.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 50px;
}

.hidden {
  display: none;
}

.content {
  position: fixed;
  top:0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.containerd {
  
}
